<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="v{{major}}">
    <div id="version">v{{version}}{% if major != "1" %} <span>nouveau design</span>{% endif %}</div>
    <div id="content-container">
      <div id="content-container-center">
        <h3>{{title}}</h3>
        <form id="choice" name="form" method="POST" action="/">
          <button id="a" type="submit" name="vote" class="a" value="a">{{option_a}}</button>
          <button id="b" type="submit" name="vote" class="b" value="b">{{option_b}}</button>
        </form>
        <div id="tip">
          (Astuce : vous pouvez changer d'avis)
        </div>
        <div id="hostname">
          Servi par : <strong>{{hostname}}</strong>
        </div>
      </div>
    </div>

    {% if vote %}
    <script>
      var vote = "{{vote}}";
      var chosen = document.querySelector("." + vote);
      var other = document.querySelector(vote == "a" ? ".b" : ".a");
      chosen.disabled = true;
      chosen.innerHTML += ' <i class="fa fa-check-circle"></i>';
      other.style.opacity = "0.5";
    </script>
    {% endif %}
  </body>
</html>
